//====================================================================================================

.footer {
  background: #f5f4fc;
  &__block {
    padding: rem(58) rem(27) rem(28) rem(468);
    // display: flex;
    @media (max-width: em(1500)) {
      padding-left: rem(234);
    }
    @media (max-width: $mobile) {
      padding-left: rem(117);
    }
    @media (max-width: $mobileSmall) {
      padding-left: rem(50);
    }
  }

  &__title {
    color: #5d4ed1;
    font-weight: 600;
    font-size: rem(35);
    line-height: math.div(45, 35);
  }

  &__line-title {
    &:not(:last-child) {
      margin-bottom: rem(23);
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 0.513fr 0.464fr 0.448fr;
    @media (max-width: em(1300)) {
      grid-template-columns: 1fr 0.7fr;
      grid-template-rows: 1fr;
    }
    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__address {
    display: flex;
    @media (max-width: em(572)) {
      flex-direction: column;
    }
  }

  &__location {
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__social {
    display: flex;
    padding-top: rem(101);
    justify-content: flex-end;
    gap: rem(28);
    @media (max-width: $tablet) {
      padding-top: rem(20);
      justify-content: flex-start;
    }
  }

  &__dev {
    display: flex;
    justify-content: flex-end;
    padding-top: rem(160);
    color: #bebebe;
    line-height: math.div(26, 20);
    @media (max-width: em(1300)) {
      padding-top: rem(20);
    }
    @media (max-width: $tablet) {
      justify-content: flex-start;
    }
  }
}
.location-footer {
  &__title {
    font-weight: 500;
    line-height: math.div(26, 20);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__text {
    line-height: math.div(26, 20);
    color: #86858d;
  }
  @media (max-width: em(572)) {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
}
.contacts-footer {
  padding-left: rem(111);
  &__title {
    font-weight: 500;
    line-height: math.div(26, 20);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__text {
    line-height: math.div(26, 20);
    color: #86858d;
  }

  &__link {
    display: block;
    &:not(:last-child) {
      margin-bottom: rem(6);
    }
  }
  @media (max-width: em(572)) {
    padding-left: 0;
  }
}
.social {
  &__link {
  }
}

//====================================================================================================
