//====================================================================================================
.header {
  @include adaptiveValue('padding-right', 70, 100, 1700, 767.98);
  @include adaptiveValue('padding-left', 70, 100, 1700, 767.98);
  &__container {
    padding: rem(34) 0 rem(58) 0;
    @include adaptiveValue('padding-top', 34, 15, 1920);
    @include adaptiveValue('padding-bottom', 58, 25, 1920);
    @media (min-width: $mobileSmall) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo-ibg {
    width: 11%;
    padding-bottom: 11%;
    @media (max-width: $mobileSmall) {
      display: none;
    }
  }
  @media (max-width: $mobile) {
    padding: 0 rem(20);
  }
  &__menu {
  }
}
.menu {
  display: flex;
  @media (max-width: $mobile) {
    justify-content: center;
  }
  &__icon {
  }

  &__body {
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(20);
    @include adaptiveValue('padding-top', 111, 40, 1920);
    @include adaptiveValue('padding-bottom', 27, 15, 1920);

    @media (max-width: $mobile) {
      justify-content: center;
      padding: rem(30) 0;
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
      padding: 0;
    }
  }

  &__item {
    @include adaptiveValue('min-width', 160, 60, 1920);
    text-align: center;
    position: relative;
  }

  &__link {
    font-family: ZwoWebPro;
    line-height: math.div(25, 20);
    text-align: center;
    @include adaptiveValue('font-size', 20, 16, 1920);
    @media (max-width: $mobileSmall) {
      font-size: rem(30);
    }
    &._active {
      &::after {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        background-color: #e59e38;
        border-radius: 50%;
        bottom: -14px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &__link:hover {
    background: linear-gradient(
      180deg,
      #000000 -14.37%,
      rgba(173, 123, 255, 0.78) 145%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: rgba(173, 123, 255, 0.78);
  }
}
.icon-menu {
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
