//====================================================================================================
.page {
  display: flex;
  flex-direction: column;
}
.home-background {
  position: relative;
  &__image-ibg {
    // padding-bottom: percent(341,1920);
    padding: 0px 0px percent(341, 1920) 0px;
  }
}
// ==================================================================================
.works {
  padding-bottom: rem(35);
  &__container {
  }

  &__header {
    display: flex;
    margin-bottom: 20px;
  }

  &__filter {
  }

  &__title {
    justify-content: center;
    margin: 0 auto;
  }

  &__link {
    padding-bottom: 0.3125rem;
    border-bottom: 2px solid #e59e38;
    font-weight: 600;
    font-size: rem(36);
    line-height: math.div(46, 36);
    text-align: center;
    color: #e59e38;
  }

  &__items {
    display: flex;
    @include adaptiveValue('padding-right', 70, 180, 1920);
    @include adaptiveValue('padding-left', 70, 180, 1920);
    gap: rem(44);
    @media (max-width: $mobile) {
      flex-direction: column;
      padding: 0px rem(20);
    }
  }

  &__column {
    position: relative;
    flex: 0 1 50%;
    &_left {
      margin-top: 2.75rem;
    }
    @media (max-width: $mobile) {
      flex: 0 1 100%;
    }
  }

  &__item {
    display: block;
    opacity: 1;
    background: linear-gradient(
      181.5deg,
      rgba(255, 255, 255, 0) 5.95%,
      #14112e 106.55%
    );
    &:hover {
      .work__image {
        opacity: 0.8;
      }
      .work__title {
        opacity: 1;
      }
    }
  }
}
.filter-works {
  padding-left: rem(113);
  position: relative;
  display: flex;
  @media (max-width: $mobile) {
    padding-left: rem(83);
  }
  @media (max-width: $mobileSmall) {
    padding-left: rem(53);
  }
  &__item {
  }

  &__title {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: rem(27);
    line-height: math.div(35, 27);
    text-align: center;
    text-decoration-line: underline;
    color: #444256;
    margin-bottom: rem(13);
    span {
      padding-right: rem(17);
    }

    &._spoller-active img {
      transform: rotate(-180deg);
    }
    img {
      transition: transform 0.3s ease 0s;
    }
  }

  &__list {
    padding: rem(15) rem(25);
    position: absolute;
    top: 100%;
    left: rem(113);
    z-index: 2;
    min-width: rem(227);
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(40, 33, 99, 0.15);
    border-radius: 4px;
    @media (max-width: $mobile) {
      left: rem(83);
    }
    @media (max-width: $mobileSmall) {
      left: rem(53);
    }
  }

  &__categoriya {
    cursor: pointer;
    font-weight: 400;
    font-size: rem(18);
    line-height: math.div(23, 18);
    text-align: center;
    color: #716f85;
    &:not(:last-child) {
      margin-bottom: rem(9);
      padding-bottom: rem(9);
      border-bottom: 1px solid rgba(113, 111, 133, 0.16);
    }
  }
}
.work-ibg {
  padding-bottom: 78.1976744186%;
  width: 100%;
  &:last-child {
    margin-top: rem(44);
  }
}
.work {
  position: relative;
  &__image {
    background-color: #c4c4c4;
  }
  &__title {
    position: absolute;
    bottom: 35px;
    left: 31px;
    font-weight: 600;
    font-size: rem(50);
    line-height: math.div(64, 50);
    opacity: 0;
    transition: 0.5s ease;
    color: #ffffff;
    z-index: 2;
    @media (max-width: $pc) {
      font-size: rem(30);
      line-height: math.div(44, 30);
    }
    @media (max-width: $tablet) {
      font-size: rem(25);
      line-height: math.div(34, 25);
    }
    @media (max-width: $mobile) {
      font-size: rem(34);
      line-height: math.div(44, 34);
    }
    @media (max-width: em(560)) {
      font-size: rem(28);
      line-height: math.div(35, 28);
    }
    @media (max-width: em(480)) {
      font-size: rem(22);
      line-height: math.div(24, 22);
    }
    @media (max-width: em(420)) {
      font-size: rem(16);
      line-height: math.div(20, 16);
    }
  }
}
.image {
}

//====================================================================================================
